{% extends "base.html" %}


{% block title %}Flask CRUD{% endblock %}


{% block body %}
<div class="view" style="background-image: url('https://assetsds.cdnedge.bluemix.net/sites/default/files/styles/very_big_1/public/feature/images/su_2.jpg?itok=nOUlGytL'); background-repeat: no-repeat; background-size: cover; background-position: center center;">

<div class="jumbotron p-4 bg-dark text-white">
  <div class="container">
    <h1 class="display-4"><b><center>University of Southeast Student Record</center></b></h1>
    <h2><center>Meeting the Challenges of Time</center></h2>
  </div>
</div>

{% endblock %}
